body {
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.25em;
}

.postPage-container{
  display: flex;
  flex-wrap: wrap;
}

.back-arrow-btn{
  position: fixed;
  padding: 1em;
  margin: 0.5em;
  background-color: #555;
  border-radius: 6px;
  color: white;
  opacity: 0.3;
  cursor: pointer;
}

.back-arrow-btn:hover{
  opacity: 1;
}


